@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 기본 틀 */
* {
	font-family: "Pretendard Variable";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

header {
	position: fixed;
	height: 8vh;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	z-index: 1000;
	background-color: white;
	padding-inline-end: 22px;
	padding-inline-start: 24px;
}

.xi-angle-left, .xi-angle-right {
	color: #757575;
}

.headerTitle {
	font-family: "NanumSquare" !important;
	font-size: 18px;
	text-align: center;
	font-weight: 900;
	margin: 20px 50px;
}

footer {
	bottom: 0;
	position: fixed;
	height: 9vh;
	width: 100%;
	z-index: 1000;
	background-color: white;
}

main {
	padding-top: 9vh;
	
}

.blank {
	width: 21px;
}


/* 컨텐츠 */
.freeWriteButton {
	
	padding: 1%;
	background-color: #00C9FF;
	color: white;
	border-radius: 5px;
	border: none;
	box-shadow: none;
	font-weight: bold;
		float: right;
		width:20%;
	
}

.backGroundBar {
	height: 35px;
	background-color: #F5F5F5;
	border-top: 1px solid #d5d2d2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #5c5c5c;
}

a {
    text-decoration: none;
}

.rightSide {
	 display: flex;
  justify-content: flex-end;
  align-items: center; 
  color: grey;
}

.rightSide > div {
  margin-right: 2%; /* 각 요소 사이의 간격 조절 */
}


.title, .content {
	margin: 2%;
	padding: 2% 2% 2% 1%;
	color: black;
}

.title {
	font-size: large;
	font-weight: bold;
	padding-top: 3%;
}

.nickname {
	margin: 2%;
	color: grey;
}

.xi-comment-o,
.xi-heart-o {
  font-size: 20px; /* 아이콘 크기 조절 */
  margin-right: 5px; /* 아이콘과 텍스트 사이 간격 조절 */
}


